<div class="container">

	<div class="row">
		<!-- 大学登録 -->
		<div class="col-lg-7">
			<%= form_for(@university, url: admin_universities_path) do |f| %>
				<div class="field">
					<label for="university_name"></label>
						<%= f.text_field :name, :placeholder => "大学名" %>
				</div>

				<div class="field">
					<label for="university_location"></label>
						<%= f.text_field :location, :placeholder => "住所" %>
				</div>

				<div class="actions">
					<%= f.submit '登録', :class=>"btn btn-lg" %>
				</div>
			<% end %>
		</div>
		<!-- 大学検索 -->
		<div class="col-lg-5">
		</div>
	</div>
    <!-- 大学一覧 -->
	<div class="row">
		<div class="col-lg-8">
			<table class="table table-hover table-inverse">
				<thead>
					<tr class="table-avtive">
						<th>大学名</th>
						<th>大学住所</th>
						<th colspan="3"></th>
					</tr>
				</thead>
				<tbody>
					<% @universities.each do |university| %>
						<tr data-href="<%= edit_admin_university_path(university.id) %>">
							<td><%= university.name %></td>
							<td><%= university.location %></td>
						</tr>
					<% end %>
				</tbody>
			</table>
		</div>
	</div>
</div>