<div class="container">
	<div class="row">
		<div class="col"></div>
		<div class="col-lg-10">
			<div class="row top">
				<div class="col-lg-5">
					<h4><%= @lecture.name %></h4>

					<% if current_user %>
						<% if @lecture.held_at > Date.today %>
							<% if @lecture.favorited_by?(current_user) %>
								<li>
									<%= link_to lecture_favorites_path(@lecture), method: :delete do %>
										お気に入り解除
									<i class="fa fa-heart" aria-hidden="true" style="color: red;"></i>
									<% end %>
								</li>
							<% else %>
								<li>
									<%= link_to lecture_favorites_path(@lecture), method: :post do %>
									<i class="fa fa-heart-o" aria-hidden="true"></i>
									お気に入りに入れる
									<% end %>
								</li>
							<% end %>
						<% end %>
					<% end %>

					<h6><%= @lecture.held_at.strftime("%Y-%m-%d %H:%M") %></h6>
				</div>

				<div class="col-lg-7">

					<% if current_user %>
						<% if @lecture.held_at > Date.today %>
							<% if @lecture.reserved_by?(current_user) %>
								<li>
									<%= link_to lecture_reservations_path(@lecture), method: :delete do %>
									予約を解除
									<% end %>
								</li>
							<% else %>
								<li>
									<%= link_to lecture_reservations_path(@lecture),method: :post do %>
									予約する
									<% end %>
								</li>
							<% end %>
						<% end %>
					<% end %>

				</div>

			</div>

			<div class="row description">

				<div class="col-lg-4">
					<%= attachment_image_tag(@lecture, :lecture_image,size:'500x500', fallback: "no_image.png", class:"img-thumbnail") %>
				</div>

				<div class="col-lg-8">
					<h6><%= @lecture.top_message %></h6>
					<p><%= @lecture.description %></p>

					<!-- タグ -->
					<% @lecture.tag_list.each do |tag| %>
					<span>#<%= tag %></span>
					<% end %>

				</div>

			</div>

			<div class="row lecture_location">
				<div class="col-lg-10">
					<span><%= @university.location %></span>
				</div>
			</div>

		</div>
		<div class="col"></div>
	</div>
</div>
