<div class="col-lg-2">
    <div class="sidebar__item sidebar__item--fixed">
        <%= link_to root_path, data: { confirm: "ユーザページへ移動します"}, target: "_blank" do %>
        <img src="/assets/logodata_02.png" class="admin-logo mb-10">
        <% end %>
        <% if admin_signed_in? %>
        <ul class="admin-header-tab" style="list-style:none; text-decoration:none;">
            <li ><%= link_to "HOME", admin_lectures_path, :style=>"color:black;" %></li>
            <li><%= link_to "講義を登録する", new_admin_lecture_path, :style=>"color:black;" %></li>
            <li><%= link_to "大学を登録する", admin_universities_path, :style=>"color:black;" %></li>
            <li>ユーザ管理</li>
            <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, data: { confirm: "ログアウトしますか"}, style: "color:black;text-decoration:none"%></li>
        </ul>
        <% else %>
        <ul class="admin-header-tab" style="list-style:none; text-decoration:none;">
            <li><%= link_to "サインイン", new_admin_session_path, :style=>"color:black;" %></li>
        </ul>
        <% end %>
    </div>

</div>
