<div class="container">

	<div class="row">

		<div class="col"></div>

		<div class="col-lg-6 text-center">
			<div class="profile-header">
				<h4>プロフィール</h4>

				<%= form_for(@user) do |f| %>

				<div class="field">
				<label for="user_profile_image"></label>
				<%= attachment_image_tag(@user, :profile_image, size:'200x200', fallback: "no_image.png", class:"img-thumbnail rounded-circle") %>
				<%= f. attachment_field :profile_image, placeholder: "プロフィール画像", class: "user-edit-form" %>
				</div>

				<div class="field">
				<label for="user_name">ユーザ名</label>
				<%= f. text_field :name %>
				</div>

				<div class="field">
				<label for="メールアドレス">e-mail</label>
				<%= f. text_field :email %>
				</div>

				<div class="field">
				<label for="former_university">出身大学</label>
				<%= f. text_field :former_university %>
				</div>

				<div class="field">
				<label for="major">専攻</dlabel>
				<%= f. text_field :major %>
				</div>

				<div class="actions">
    			<%= f.submit '更新する', :class=>"btn btn-lg" %>
  				</div>

				<% end %>

			</div>
		</div>

		<div class="col"></div>

	</div>

</div>