<%= render 'users/user_header' %>

<div class="container">
	<div class="row my-3">
		<!-- プロフィール -->
		<div class="col-lg-6">
				<h4 class="text-center">プロフィール</h4>

				<div class="row image">
				<%= attachment_image_tag(@user, :profile_image, :fill, 150, 150, fallback: "no_image.png", class:"img-thumbnail rounded-circle mx-auto d-block") %>
				</div>

				<div class="row">
					<div class="col-lg-3"></div>
					<div class="col-lg-6 text-center">
						<div class="row mx-auto">
					<div class="user-name mt-2 mb-1 mr-5">
						<span>ユーザ名</span><br />
						<span class="user-information border-bottom"><%= @user.name %></span>
					</div>

					<div class="email mt-2 mb-1">
						<span>メールアドレス</span><br />
						<span class="user-information border-bottom"><%= @user.email %></span>
					</div>
						</div>
						<div class="row mx-auto">
					<div class="former-university mt-2 mb-1 mr-5">
						<span>出身大学</span><br />
						<span class="user-information border-bottom"><%= @user.former_university %></span>
					</div>

					<div class="major mt-2 mb-1">
						<span>専攻</span><br />
						<span class="user-information border-bottom"><%= @user.major %></span>
					</div>
					</div>

					<% if @user.id == current_user.id %>
						<%= link_to "アカウントを編集する", edit_user_path(@user),:class=>"btn btn-md btn-danger my-3" %>
					<% end %>
					</div>
				<div class="col-lg-3"></div>
				</div>

		</div>
		<!-- クレジットカード -->
		<div class="col-lg-6">
			<div class="payment-header text-center">
				<h4>お支払い情報</h4>
			</div>

			<div class="row payment-information">
				<div class="col-lg-6">
					<span>お支払い金額</span>
				</div>
				<div class="col-lg-6">
					<span>お支払い方法</span>
					<div class="card-top">
						<span>クレジットカード情報</span>

						<% if @card.present? %>
							<div class="card-infofmation">
								<%= "**** **** **** " + @default_card_information.last4 %>
									<br>
									<% exp_month = @default_card_information.exp_month.to_s %>
									<% exp_year = @default_card_information.exp_year.to_s.slice(2,3) %>
								    <%= exp_month + " / " + exp_year %>
							    	<br>
							   	<%= link_to "カードを削除する", delete_card_index_path, method: :post %>
							</div>
						<% else %>
							<div class="card-registration">
								<span>現在、有効なカード情報が登録されていません。定期課金を開始するにはカード登録が必要です。</span>
								<%= link_to("カードを登録する", new_card_path, class: "btn btn-lg", data: {"turbolinks" => false}) %>
							</div>
						<% end %>
					</div>
						<% if @payment.present? %>
							<% if @payment_created_at > Date.today.ago(30.days) %>
								<%= @payment_created_at.since(30.days).strftime("%Y年%m月%d日") %>まで利用可能です。
							<% else %>
								<% if @card.present? %>
								<div class="payment-registration">
								<%= link_to "有料登録する", payment_path, method: :post %>
								</div>
								<% else %>
								カードを登録してください
								<% end %>
							<% end %>
						<% else %>
							<% if @card.present? %>
								<div class="payment-registration">
								<%= link_to "有料登録する", payment_path, method: :post %>
								</div>
							<% else %>
								カードを登録してください
							<% end %>
						<% end %>

				</div>
			</div>


		</div>
	</div>
</div>
<%= render 'users/user_footer' %>