<div class="row">
	<%= render partial: "admin/admin_header" %>

		<div class="col-lg-1">
		</div>

		 		<div class="col-lg-8">

		 		<h3 class="mt-3 mb-2">講義編集</h3>

		 		<!-- バリデーション -->
		 		 <% if @lecture.errors.any? %>
			     	<div id="error_explanation">
			     		<h3>入力した内容に誤りがあります</h3>
			     		<h6 style="list-style:none; font-size:15px;">
			     			<% @lecture.errors.full_messages.each do |message| %>
			     				<li><%= message %></li>
			     			<% end %>
			    		 </h6>
			     	</div>
    		     <% end %>

		 		<!-- 講義登録 -->
		 		<%= form_for(@lecture, url:admin_lecture_path) do |f| %>
		 			<div class="form-group">
		 				<label for="lecture_name"></label>
		 					<%= f.text_field :name, :class =>"form-control", :placeholder => "講義名
		 					" %>
		 			</div>

		 			<div class="form-filed">
		 				<label for="lecture_image"></label>
		 					<span>講義イメージ :</span><br />
		 					<%= f.attachment_field :lecture_image %>
		 			</div>

		 			<div class="form-filed">
		 				<label for="lecture_top_message"></label>
		 					<%= f.text_field :top_message, :class =>"form-control", :placeholder =>"トップメッセージ" %>
		 			</div>

		 			<div class="form-group">
		 				<label for="lecture_description"></label>
		 					<%= f.text_area :description, :class =>"form-control", :size=>"60x6", :placeholder => "講義説明" %>
		 			</div>

		 			<div class="form-group">
		 				<label for="lecture_held_at"></label>
		 					<span>講義開始日時 :</span><br>
		 					<%= f.datetime_select :held_at, {}%>
		 			</div>

		 			<div class="form-group">
		 				<label for="lecture_required_time"></label>
		 				<span>所要時間 :</span><br>
		 					<%= f.number_field :required_time, min:1, class:"number" %>分
		 			</div>

		 			<div class="form-field">
		 				<label for="lecture_university"></label>
		 					<span>主催大学 :</span><br>
		 					<%= f.collection_select :university_id, University.all,:id, :name, :prompt => "選択してください" %>
		 			</div>

		 			<div class="form-group">
		 				<label for="tag_list"></label>
		 					<%= f.text_field :tag_list, value: @lecture.tag_list.join(','), :class =>"form-control", :placeholder => "example:経営,起業" %>
		 			</div>

		 			<div class="actions">
		 				<%= f.submit '更新', :class=>"btn btn-md btn-danger float-right" %>
		 			</div>
		 		<% end %>
		 	</div>
</div>