<div class="row">
	<%= render partial: "admin/admin_header" %>

		<div class="col-lg-1">
		</div>

		<div class="col-lg-8">
			<div class="row">
				<h3 class="mt-3">登録講義</h3>
					<div class="col">
					<%= search_form_for(@q, url: admin_lectures_path, :class =>"float-right mt-5") do |f| %>
	      			<%= f.search_field :name_or_university_name_cont %>
	      			<%= f.submit "検索", :placeholder => "フリーワード", class:"btn btn-danger btn-sm" %>
	      			<% end %>
      			</div>
			</div>

			<div class="row">
				<table class="mt-3 table table-hover table-inverse table-bordered">
					<thead>
						<tr class="table-active">
							<th>主催大学</th>
							<th>講義名</th>
							<th>お気に入り総数</th>
						</tr>
					</thead>
					<tbody>
						<% @lectures.each do |lecture| %>
							<tr data-href="<%= admin_lecture_path(lecture.id) %>">
								<td><%= lecture.university.name %></td>
								<td><%= lecture.name %></td>
								<td><%= lecture.favorites.count %>件</td>
							</tr>
						<% end %>
					</tbody>
				</table>
				<div data-turbolinks="false">
					<%= paginate @lectures, :class=>"pagination" %>
				</div>
			</div>
		</div>
</div>
