<div class="contaier">
	<div class="row">
		<div class="col"></div>
		 	<div class="col-lg-8">

		 		<h5>講義登録</h5>

		 		<!-- 講義登録 -->
		 		<%= form_for(@lecture, url:admin_lectures_path) do |f| %>
		 			<div class="filed">
		 				<label for="lecture_name"></label>
		 					<%= f.text_field :name, :placeholder => "講義名
		 					" %>
		 			</div>

		 			<div class="field">
		 				<label for="lecture_image">
		 					<%= f.attachment_field :lecture_image %>
		 			</div>

		 			<div class="field">
		 				<label for="lecture_top_message"></label>
		 					<%= f.text_field :top_message, :placeholder =>"トップメッセージ" %>
		 			</div>

		 			<div class="field">
		 				<label for="lecture_description"></label>
		 					<%= f.text_area :description, :placeholder => "講義説明" %>
		 			</div>

		 			<div class="field">
		 				<label for="lecture_held_at"></label>
		 					<%= f.datetime_select :held_at, {}, class: 'form-control' %>
		 			</div>

		 			<div class="field">
		 				<label for="lecture_university"></label>
		 					<%= f.collection_select :university_id, University.all,:id, :name, :prompt => "選択してください" %>
		 			</div>

		 			<div class="actions">
		 				<%= f.submit '登録', :class=>"btn btn-lg" %>
		 			</div>
		 		<% end %>

		 	</div>
		<div class="col"></div>
	</div>
</div>