<div class="container">
	<div class="row">
		<div class="col"></div>
		<div class="col-lg-10">
			<div class="row top">
				<div class="col-lg-5">
					<h4><%= @lecture.name %></h4>
					<h6><%= @lecture.held_at.strftime("%Y-%m-%d %H:%M") %></h6>
				</div>
				<div class="col-lg-4">
					<% if @lecture.active_flag == true %>
						<h6>受講可</h6>
					<% else %>
						<h6>受講不可</h6>
					<% end %>
				</div>
				<div class="col-lg-3">
					<%= link_to("編集", edit_admin_lecture_path(@lecture.id), {class: "btn btn-lg"}) %>
					<%= link_to("編集", edit_admin_lecture_path(@lecture.id), {class: "btn btn-lg"}) %>
				</div>

			</div>

			<div class="row description">

				<div class="col-lg-4">
					<%= attachment_image_tag(@lecture, :lecture_image,size:'500x500', fallback: "no_image.png", class:"img-thumbnail") %>
				</div>

				<div class="col-lg-8">
					<h6><%= @lecture.top_message %></h6>
					<p><%= @lecture.description %></p>
					<% @lecture.tag_list.each do |tag| %>
					<span>#<%= tag %></span>
					<% end %>
				</div>

			</div>

			<div class="row lecture_location">
				<div class="col-lg-10">
					<span><%= @university.location %></span>
				</div>
			</div>

			<div class="row reservation_user">
				<div class="col-lg-5">
					<h4>予約中のユーザ</h4>
				</div>
				<div class="col"></div>
				<div class="col-lg-10">
					<table class="table table-hover table-inverse">
						<thead class="table-active">
							<tr>
								<th></th>
								<th>ユーザ名</th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							<% @reservations.each do |reservation| %>
								<tr>
									<td></td>
									<td><%= reservation.user.name %></td>
									<td><%= reservation.created_at.strftime("%Y-%m-%d %H:%M") %></td>
								</tr>
							<% end %>
						</tbody>
				</div>
				<div class="col"></div>

			</div>

		</div>
		<div class="col"></div>
	</div>
</div>
